{% extends "base.html" %}

    {% block content %}
        <div class="container-fluid pt-4 px-4">
            <div class="row vh-100 bg-secondary rounded align-items-center justify-content-center mx-0">
                <div class="col-md-6 text-center">
                    <img class="rounded-circle" src="{{ request.user.socialaccount_set.all.0.get_avatar_url }}" alt="" style="width: 80px; height: 80px;">
                    <h4 style='margin-top: 20px;'>Salom <span style='color: red'>{{ user.first_name }} {{ user.last_name }}</span> </h4>
                    <p>Ushbu web ning statistikasini ko'rish hozircha sizda vaqtinchalik yopilgan ! <br><span style='color: red'>Sabab: </span>bir vaqtda kutilganidan ko'proq odam ushbu saytda turibdi server hammaga javob qaytarishga ulgurmayabdi shuning uchun ba'zi bir murakkab bo'lgan operatsiyalarni cheklab qo'yish kerak vaqtinchalik odam kamayguncha !  :)</p>
                </div>
            </div>
        </div>
    {% endblock content %}
